#content {
  --max-width: 0.95;
  --card-row: 8;
  --card-width: calc((100vw * var(--max-width) - (var(--card-row) * 2 * var(--card-spacing))) / var(--card-row));
}
.stats {
  top: 79%;
}
.counter .label-text {
  top: -10%;
}
.selected {
  border: var(--card-border) solid blue;
}
.option {
  border: var(--card-border) solid yellow;
}
.disabled {
  filter: brightness(0.8);
}
tr:first-child {
  height: 3em;
}
.trace {
  padding: 0 1em;
  max-height: max(var(--card-height), 20vh);
  max-width: max(690px, calc(5.5 * var(--card-width)));
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.trace::-webkit-scrollbar{
  display: none;
}
@media(min-width: 390px) {
  #content {
    font-size: 0.65em;
  }
}
@media(min-width: 450px) {
  #content {
    font-size: 0.75em;
  }
  .card {
    --card-border: 2px;
  }
}
@media(min-width: 768px) {
  .summary {
    line-height: 1.4em;
  }
  .card {
    --card-border: 3px;
  }
  .stats {
    top: 82%;
  }
  .counter .label-text {
    top: -15%;
  }
  .trace {
    font-size: 1.5em;
  }
}
@media(min-width: 1440px) {
  .trace {
    font-size: 2em;
  }
}

@media(min-width: 1000px) { #content { --max-width: 0.90; max-width: 90%; } }
@media(min-width: 1200px) { #content { --max-width: 0.85; max-width: 85%; } }
@media(min-width: 1400px) { #content { --max-width: 0.80; max-width: 80%; } }
@media(min-width: 1600px) { #content { --max-width: 0.75; max-width: 75%; } }
@media(min-width: 1800px) { #content { --max-width: 0.70; max-width: 70%; } }
@media(min-width: 2000px) { #content { --max-width: 0.65; max-width: 65%; } }
@media(min-width: 2200px) { #content { --max-width: 0.6; max-width: 60%; } }
@media(min-width: 2500px) { #content { --max-width: 0.55; max-width: 55%; } }
@media(min-width: 2800px) { #content { --max-width: 0.5; max-width: 50%; } }
@media(min-width: 3200px) { #content { --max-width: 0.45; max-width: 45%; } }
@media(min-width: 3600px) { #content { --max-width: 0.4; max-width: 40%; } }
